extends layout.pug
block append head
    title=  'Cupix'
block append content
  .container
    .row 
      .h1.mt-3.mb-0 Cupix
    .row 
      .d-flex.flex-row-reverse
        i(
          class="bi bi-info-circle-fill" 
          data-bs-toggle="tooltip" 
          data-bs-placement="bottom" 
          title="360-degree images taken with a Matterport camera on the Metropolia Karamalmi campus, uploaded to Cupix web application and iframe link added to the website.")
    .row
      iframe(
        style="max-width: 100%;" 
        width="640" 
        height="480" 
        frameborder="0" 
        allowfullscreen 
        src="https://players.cupix.com/embed.html?key=5yIpYTiz"
      )
    .row
      a(href="https://homes.cupix.com" class="link-primary mt-3 mb-5" alt="web link to cupix page") homes.cupix.com
    