extends layout.pug
block append head
    title=  'Lidar tests'
block append content
  .container 
    .row 
      .main-heading.mt-3.mb-0 Lidar tests
    .row 
      .d-flex.flex-row-reverse
        a(href="#info")
          i(class="bi bi-info-circle-fill")   
    .row 
      iframe(
        title='Untitled Scan turtle lidar', 
        frameborder='0', 
        allowfullscreen='', 
        mozallowfullscreen='true', 
        webkitallowfullscreen='true', 
        allow='autoplay; fullscreen; xr-spatial-tracking', 
        xr-spatial-tracking='', 
        execution-while-out-of-viewport='', 
        execution-while-not-rendered='', 
        web-share='', 
        width='960', 
        height='540', 
        src='https://sketchfab.com/models/e070f5500c6346c5bd921618a1be1ef0/embed'
      )  
      p.fst-italic.text-left.text-md-center Scan 1: taken with 3D Scanner App for mobile, GLB foramt
      iframe(
        title='Metascan turtle', 
        frameborder='0', 
        allowfullscreen='', 
        mozallowfullscreen='true', 
        webkitallowfullscreen='true', 
        allow='autoplay; fullscreen; xr-spatial-tracking', 
        xr-spatial-tracking='', 
        execution-while-out-of-viewport='', 
        execution-while-not-rendered='', 
        web-share='', 
        width='960', 
        height='540', 
        src='https://sketchfab.com/models/272dfaf4920844f9bbd3fb59a325d2d0/embed'
      )
      p.fst-italic.text-left.text-md-center Scan 2: taken with Metascan mobile app, GLB format
      iframe(
        title='Polycam turtle', 
        frameborder='0', 
        allowfullscreen='', 
        mozallowfullscreen='true', 
        webkitallowfullscreen='true', 
        allow='autoplay; fullscreen; xr-spatial-tracking', 
        xr-spatial-tracking='', 
        execution-while-out-of-viewport='', 
        execution-while-not-rendered='', 
        web-share='', 
        width='960', 
        height='540', 
        src='https://sketchfab.com/models/0c43712b90ca42ef968a6b70fe8271c1/embed'
      )
      p.fst-italic.text-left.text-md-center Scan 3: taken with Polycam mobile app, GLB format
      iframe(
        title='Untitled Scan turtle point-cloud', 
        frameborder='0', 
        allowfullscreen='', 
        mozallowfullscreen='true', 
        webkitallowfullscreen='true', 
        allow='autoplay; fullscreen; xr-spatial-tracking', 
        xr-spatial-tracking='', 
        execution-while-out-of-viewport='', 
        execution-while-not-rendered='', 
        web-share='', 
        width='960', 
        height='540', 
        src='https://sketchfab.com/models/0b36415c5be94e8f84e2e6e4e2408bc6/embed'
      )
      p.fst-italic.text-left.text-md-center Scan 4: taken with 3D Scanner App for mobile, PLY point-cloud format
    .d-flex.align-items-center.cont-up
      .h1-doc#info Info
    .d-flex.align-items-center.cont-up
      .flex-shrink-0.heading-cont
        .h2-doc Used
      .flex-grow-1
        ul 
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Lidar scan
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Ipad Pro 2020 that comes with Lidar technology 
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Scan 1 and 4: 3D Scanner App for mobile
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Scan 2: Metascan mobile app
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Scan 3: Polycam mobile app
    .d-flex.align-items-center.cont-up
      .flex-shrink-0.heading-cont
        .h2-doc Working Process
      .flex-grow-1
        ul
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc The model was scanned with diffetent Lidar scanner apps for Ipad
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Scan was uploaded to computer and then to the Scketsfab
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Iframe link added to the website.
    .d-flex.align-items-center.cont-up
      .flex-shrink-0.heading-cont
        .h2-doc Where to use
      .flex-grow-1
        ul
          li.d-flex
            i(class="bi bi-lightbulb")
            .text-doc To show space for others or keep in memory like pictures are kept
          li.d-flex
            i(class="bi bi-lightbulb")
            .text-doc Share with others some piece of a place, example like a street art
          li.d-flex
            i(class="bi bi-lightbulb")
            .text-doc Use in game graphics
    .d-flex.align-items-center.cont-up.mb-5
      .flex-shrink-0.heading-cont
        .h2-doc Webpages
      .flex-grow-1
        ul 
          li
            a(href="https://3dscannerapp.com" class="link-primary mt-3 mb-5" alt="web link to 3dscannerapp page") 3dscannerapp.com
          li
            a(href="https://metascan.ai" class="link-primary mt-3 mb-5" alt="web link to metascan page") metascan.ai
          li
            a(href="https://poly.cam/" class="link-primary mt-3 mb-5" alt="web link to polycam page") poly.cam/
          li
            a(href="https://sketchfab.com" class="link-primary mt-3 mb-5" alt="web link to sketchfab page") sketchfab.com

