extends layout.pug
block append head
    title=  'Matterport'
block append content
  .container
    .row 
      .h1.mt-3.mb-0 Matterport virtual tour
    .row 
      .d-flex.flex-row-reverse
        i(
          class="bi bi-info-circle-fill" 
          data-bs-toggle="tooltip" 
          data-bs-placement="bottom" 
          title="A Virtual tour with Matterport application and Matterport Pro2 3D camera on Metropolia Karamalmi campus. 360-degree images taken with Matterport camera were uploaded automatically to Matterport cloud. Iframe link added to the website.")
    .row
      iframe(
        id="mp-model"
        width="853"
        height="480"
        frameborder="0"
        allowfullscreen
        allow="xr-spatial-tracking")
    .row
      a(href="https://matterport.com" class="link-primary mt-3 mb-5" alt="web link to matterport page") matterport.com

