extends layout.pug
block append head
    title=  'Matterport'
block append content
  .container
    .row 
      .main-heading.mt-3.mb-0 Matterport virtual tour
    .row 
      .d-flex.flex-row-reverse
        a(href="#info")
          i(
            class="bi bi-info-circle-fill"
            data-bs-toggle="tooltip" 
            data-bs-placement="bottom" 
            title="info"
          )  
    .row
      iframe(
        id="mp-model"
        width="853"
        height="480"
        frameborder="0"
        allowfullscreen
        allow="xr-spatial-tracking")
    .d-flex.align-items-center.cont-up
      .h1-doc#info Info
    .d-flex.align-items-center.cont-up
      .flex-shrink-0.heading-cont
        .h2-doc Used
      .flex-grow-1
        ul 
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Professional virtual tour experience
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Matterport Pro2 camera
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Matterport web-app, monthly fee with in-app purchases
    .d-flex.align-items-center.cont-up
      .flex-shrink-0.heading-cont
        .h2-doc Working Process
      .flex-grow-1
        ul
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc 360-degree scans taken with Matterport camera at Metropolia Karamalmi campus
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Scans were uploaded automatically to Matterport cloud
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Model and virtual tour was ready in 3-5 hours
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Added some mattertags for extra information
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Iframe link added to the website.
    .d-flex.align-items-center.cont-up
      .flex-shrink-0.heading-cont
        .h2-doc Where to use
      .flex-grow-1
        ul
          li.d-flex
            i(class="bi bi-lightbulb")
            .text-doc Real estate to give a better understanding of the apartment to the potential buyer
          li.d-flex
            i(class="bi bi-lightbulb")
            .text-doc Any kind of virtual tour: gallery, shop, school, workplace
          li.d-flex
            i(class="bi bi-lightbulb")
            .text-doc Architecture/construction, can purchase CAD and BIM files 
          li.d-flex
            i(class="bi bi-lightbulb")
            .text-doc When combined with viewAR can make an AR Indoor Navigation, AR Remote Assistance,  AR Product Visualization solution
    .d-flex.align-items-center.cont-up.mb-5
      .flex-shrink-0.heading-cont
        .h2-doc Webpages
      .flex-grow-1
        ul 
          li
            a(href="https://matterport.com" class="link-primary mt-3 mb-5" alt="web link to matterport page") matterport.com
          li
            a(href="https://www.viewar.com" class="link-primary mt-3 mb-5" alt="web link to viewAR page") viewar.com