extends layout.pug
block append head
    title=  'Model-viewer + AR'
block append content
    .container
        .row 
            .main-heading.mt-3.mb-0 Model-viewer + AR
        .row 
            .d-flex.flex-row-reverse
                a(href="#info")
                    i(
                        class="bi bi-info-circle-fill"
                        data-bs-toggle="tooltip" 
                        data-bs-placement="bottom" 
                        title="info"
                    )
        .d-flex.align-items-center.cont-down
            .flex-shrink-0.qr-code-container
                .d-flex.ms-4
                    i(
                        class="bi bi-badge-ar-fill"
                        data-bs-toggle="tooltip" 
                        data-bs-placement="bottom" 
                        title="Scan the QR code with a mobile phone to use an AR functionality")
            .flex-grow-1.cont-body-side 
                model-viewer(
                    bounds="tight" 
                    src="models/Q_Elephant.glb" 
                    ar 
                    ar-modes="webxr scene-viewer quick-look" 
                    camera-controls 
                    environment-image="neutral" 
                    poster="thumbnails/poster_Elephant.jpg" 
                    shadow-intensity="1"
                )
                    div(class="progress-bar hide" slot="progress-bar")
                        div(class="update-bar")
                    button(slot="ar-button" id="ar-button") 
                        .ar-image
                        p View in your space
                    div(id="ar-prompt")
        .ar-test
        .d-flex.align-items-center.cont-up
            .h1-doc#info Info
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Used
            .flex-grow-1
                ul 
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc Photogrammetry
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc Qlone mobile app for Android/ios for free with limits
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc Printed out Qlone mat, size A4
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc Google Model-viewer library with AR for free
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Working Process
            .flex-grow-1
                ul
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc A 3D elephant figure made using photogrammetry with the Qlone mobile app and Android phone.
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc An glb file sent to a computer.
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc Model uploaded to Model-viewer editor and the code with a poster image downloaded from there.
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc Use the code as it comes or intergrate it into your project.
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Where to use
            .flex-grow-1
                ul
                    li.d-flex
                        i(class="bi bi-lightbulb")
                        .text-doc Online stores to present the product and give a better idea of the product.
                    li.d-flex
                        i(class="bi bi-lightbulb")
                        .text-doc Online gallery. For example to give people a chance to try out how a picture would fit on a wall at home with Augumented Reality functionality.
        .d-flex.align-items-center.cont-up.mb-5
            .flex-shrink-0.heading-cont
                .h2-doc Webpages
            .flex-grow-1
                ul 
                    li
                        a(href="https://www.qlone.pro" class="link-primary mt-3 mb-5" alt="web link to qlone page") qlone.pro
                    li
                        a(href="https://modelviewer.dev/" class="link-primary mt-3 mb-5" alt="web link to modelviewer page") modelviewer.dev
                    li
                        a(href="https://modelviewer.dev/editor/" class="link-primary mt-3 mb-5" alt="web link to modelviewer editor page") modelviewer.dev/editor
            


