extends layout.pug
block append head
    title=  'MyWebAr'
block append content
  .container
    .row 
      .main-heading.mt-3.mb-0 MyWebAr
    .row 
      .d-flex.flex-row-reverse
        a(href="#info")
          i(
            class="bi bi-info-circle-fill"
            data-bs-toggle="tooltip" 
            data-bs-placement="bottom" 
            title="info"
          )    
    .row.my-ar.justify-content-center.align-items-center
        .d-flex.justify-content-center.my-margin
            i(
                class="bi bi-badge-ar-fill"
                data-bs-toggle="tooltip" 
                data-bs-placement="bottom" 
                title="Scan the QR code with a mobile phone to use an AR functionality")
    .d-flex.align-items-center.cont-up
      .h1-doc#info Info
    .d-flex.align-items-center.cont-up
      .flex-shrink-0.heading-cont
        .h2-doc Used
      .flex-grow-1
        ul 
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Photogrammetry
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Qlone mobile app for Android/ios for free with limits
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Printed out Qlone mat, size A4
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc MyWebAr Augmented Reality web-app for free with limits
    .d-flex.align-items-center.cont-up
      .flex-shrink-0.heading-cont
        .h2-doc Working Process
      .flex-grow-1
        ul
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc A 3D elephant figure made using photogrammetry with the Qlone mobile app
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc A glb file uploaded from computer to MyWebAr web-app
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc 3D model added to the QR code in MyWebAr web-app by following a simple tutorial
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc QR code added to the webpage with the html image element
    .d-flex.align-items-center.cont-up
      .flex-shrink-0.heading-cont
        .h2-doc Where to use
      .flex-grow-1
        ul
          li.d-flex
            i(class="bi bi-lightbulb")
            .text-doc In education to show a 3D image of the brain or the Earth
          li.d-flex
            i(class="bi bi-lightbulb")
            .text-doc Business cards
    .d-flex.align-items-center.cont-up.mb-5
      .flex-shrink-0.heading-cont
        .h2-doc Webpages
      .flex-grow-1
        ul            
          li
            a(href="https://www.qlone.pro" class="link-primary mt-3 mb-5" alt="web link to qlone page") qlone.pro
          li
            a(href="https://mywebar.com/" class="link-primary mt-3 mb-5" alt="web link to mywebar page") mywebar.com
            