extends layout.pug
block append head
  title='Pannellum'
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css')
  script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js')
block append content
  .container
    .row
      .main-heading.mt-3.mb-0 Pannellum
    .row
      .d-flex.flex-row-reverse
        i(
          class="bi bi-info-circle-fill"
          data-bs-toggle="tooltip" 
          data-bs-placement="bottom" 
          title="info"
        )  
    .row
      #panorama.p-0(style='height: 480px')
    .d-flex.align-items-center.cont-up
      .h1-doc#info Info
    .d-flex.align-items-center.cont-up
      .flex-shrink-0.heading-cont
        .h2-doc Used
      .flex-grow-1
        ul 
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Lightweight virtual tour experience
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc 360-degree images taken with Matterport Pro2 and Garmin Virb camera
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc open-source
    .d-flex.align-items-center.cont-up
      .flex-shrink-0.heading-cont
        .h2-doc Working Process
      .flex-grow-1
        ul
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Pictures taken with a Garmin Virb 360 camera at Metropolia Karamalmi campus
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Some images were downloaded from the Matterport cloud
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc 360-degree images converted with sphere to cube converter into cube images (back, down, front, left, right, top)
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Panorama created with Pannellum panorama viewer library
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Hotspots added
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc An html div element with height added to the website.
    .d-flex.align-items-center.cont-up
      .flex-shrink-0.heading-cont
        .h2-doc Where to use
      .flex-grow-1
        ul
          li.d-flex
            i(class="bi bi-lightbulb")
            .text-doc Any kind of lightweight virtual tour: gallery, shop, school, workplace
    .d-flex.align-items-center.cont-up.mb-5
      .flex-shrink-0.heading-cont
        .h2-doc Webpages
      .flex-grow-1
        ul 
          li
            a.link-primary.mt-3.mb-5(href='https://pannellum.org') pannellum.org