extends layout.pug
block append head
    title=  'Roundme'
block append content
  .container
    .row 
      .h1.mt-3.mb-0 Roundme
    .row 
      .d-flex.flex-row-reverse
        i(
          class="bi bi-info-circle-fill" 
          data-bs-toggle="tooltip" 
          data-bs-placement="bottom" 
          title="A virtual tour taken with a Garmin Virb 360 camera in Kalasatama and uploaded to Roundme. Iframe link added to the website.")
    .row
        iframe(
            width='960' 
            height='540' 
            src='https://roundme.com/embed/781475/2464336' 
            frameborder='0' 
            webkitallowfullscreen 
            mozallowfullscreen 
            allowfullscreen
        )
    .row
      a(href="https://roundme.com" class="link-primary mt-3 mb-5" alt="web link to roundme page") roundme.com
    