extends layout.pug
block append head
    title=  'Sketchfab'
block append content
  .container 
    .row 
      .main-heading.mt-3.mb-0 Sketchfab
    .row 
      .d-flex.flex-row-reverse
        a(href="#info")
          i(class="bi bi-info-circle-fill")   
    .row 
      iframe(
        title='Mussel', 
        frameborder='0', 
        allowfullscreen='', 
        mozallowfullscreen='true', 
        webkitallowfullscreen='true', 
        allow='autoplay; fullscreen; xr-spatial-tracking', 
        xr-spatial-tracking='', 
        execution-while-out-of-viewport='', 
        execution-while-not-rendered='', 
        web-share='', 
        width='960', 
        height='540', 
        src='https://sketchfab.com/models/e8aad827ecb244e28427864c57b18587/embed'
      )  
    .d-flex.align-items-center.cont-up
      .h1-doc#info Info
    .d-flex.align-items-center.cont-up
      .flex-shrink-0.heading-cont
        .h2-doc Used
      .flex-grow-1
        ul 
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Photogrammetry
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Qlone mobile app for Android/ios for free with limits
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Printed out Qlone mat, size A4
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Sketchfab web-app for free with limits
    .d-flex.align-items-center.cont-up
      .flex-shrink-0.heading-cont
        .h2-doc Working Process
      .flex-grow-1
        ul
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc A 3D mussel figure made using photogrammetry with the Qlone mobile app and Android phone.
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc An glb file sent to a computer and uploaded to Sketchfab.
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Iframe link added to the website.
    .d-flex.align-items-center.cont-up
      .flex-shrink-0.heading-cont
        .h2-doc Where to use
      .flex-grow-1
        ul
          li.d-flex
            i(class="bi bi-lightbulb")
            .text-doc Online stores to present the product and give a better idea of the product.
          li.d-flex
            i(class="bi bi-lightbulb")
            .text-doc Share or sell your 3D scanned objects
    .d-flex.align-items-center.cont-up.mb-5
      .flex-shrink-0.heading-cont
        .h2-doc Webpages
      .flex-grow-1
        ul 
          li
            a(href="https://www.qlone.pro" class="link-primary mt-3 mb-5" alt="web link to qlone page") qlone.pro
          li
            a(href="https://sketchfab.com" class="link-primary mt-3 mb-5" alt="web link to sketchfab page") sketchfab.com
            