extends layout.pug
block append head
    title=  'Sketchfab'
block append content
  .container 
    .row 
      .h1.mt-3.mb-0 Sketchfab
    .row 
      .d-flex.flex-row-reverse
        i(
          class="bi bi-info-circle-fill" 
          data-bs-toggle="tooltip" 
          data-bs-placement="bottom" 
          title="A 3D mussel figure made using photogrammetry with the Qlone mobile app and Android phone. An glb file sent to a computer, uploaded to Sketchfab and iframe link added to the website.")
    .row 
      iframe(
        title='Mussel', 
        frameborder='0', 
        allowfullscreen='', 
        mozallowfullscreen='true', 
        webkitallowfullscreen='true', 
        allow='autoplay; fullscreen; xr-spatial-tracking', 
        xr-spatial-tracking='', 
        execution-while-out-of-viewport='', 
        execution-while-not-rendered='', 
        web-share='', 
        width='960', 
        height='540', 
        src='https://sketchfab.com/models/e8aad827ecb244e28427864c57b18587/embed'
      )  
    .row
      ul 
        li
          a(href="https://www.qlone.pro" class="link-primary mt-3 mb-5" alt="web link to qlone page") qlone.pro
        li
          a(href="https://sketchfab.com" class="link-primary mt-3 mb-5" alt="web link to sketchfab page") sketchfab.com
  