extends layout.pug
block append head
  title=  'Media lab Matterport model'
block append content
  .container
    .row 
      .h1.mt-3.mb-0 3D model and a virtual tour of the media lab
    .row.d-flex.justify-content-end
      .d-flex.flex-row-reverse
        i(
          class="bi bi-info-circle-fill" 
          data-bs-toggle="tooltip" 
          data-bs-placement="bottom" 
          title="Media lab")
        button(
          type='button' 
          class="btn icon-button mx-2 mb-1"
          data-bs-toggle='tooltip'
          data-bs-placement="bottom"
          title="Media lab lights usage instructions")
          i(
            class="bi bi-lightbulb-fill"
            data-bs-toggle='modal'
            data-bs-target='#studio-guide-modal'
          )
        #studio-guide-modal.modal.fade(tabindex='-1' aria-labelledby='studio-guide-modal-label' aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                h5#studio-guide-modal-label.modal-title Lights usage instructions
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body
                #studio-guide-carousel.carousel.slide(data-bs-ride='carousel')
                  .carousel-indicators
                    button.active(type='button' data-bs-target='#studio-guide-carousel' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                    button(type='button' data-bs-target='#studio-guide-carousel' data-bs-slide-to='1' aria-label='Slide 2')
                    button(type='button' data-bs-target='#studio-guide-carousel' data-bs-slide-to='2' aria-label='Slide 3')
                    button(type='button' data-bs-target='#studio-guide-carousel' data-bs-slide-to='3' aria-label='Slide 4')
                    button(type='button' data-bs-target='#studio-guide-carousel' data-bs-slide-to='4' aria-label='Slide 5')
                  .carousel-inner
                    .carousel-item.active
                      img.d-block.w-100(src='/guide/first.jpg' alt='first slide')
                    .carousel-item
                      img.d-block.w-100(src='/guide/second.jpg' alt='second slide')
                    .carousel-item
                      img.d-block.w-100(src='/guide/third.jpg' alt='third slide')
                    .carousel-item
                      img.d-block.w-100(src='/guide/fourth.jpg' alt='fourth slide')
                    .carousel-item
                      img.d-block.w-100(src='/guide/fifth.jpg' alt='fifth slide')
                  button.carousel-control-prev(type='button' data-bs-target='#studio-guide-carousel' data-bs-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.visually-hidden Previous
                  button.carousel-control-next(type='button' data-bs-target='#studio-guide-carousel' data-bs-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.visually-hidden Next
              .modal-footer
    .row.mb-5
      iframe(
        id="mp-studio"
        width="853"
        height="480"
        frameborder="0"
        allowfullscreen
        allow="xr-spatial-tracking")
